.imgTarj{
    @include img(40px, 40px, 30px, 5px);
}

.sectTarj:hover{
    background-color: $secondaryColor !important;
    transition: background-color 0.6s;
    cursor: pointer;
    text-decoration: underline;
}

.sectTarj {
    border-radius: 20px;
}

.cardOrden {
    @include textos(flex, center, center);
    margin: 20px !important;
    padding: 0;
}