.imgLogo {
    width: 7rem;
}

nav {
    div {
        
        a {
            color: $terColor !important;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.3rem !important;

        }
    }
}

a:hover {
    text-decoration: underline;
    color: #fafafa !important;
}

